<!doctype html>
<html lang="en">

<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Cyrus Buhariwalla</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- MDB CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css">
	<!-- MDB JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>

	<link href="./style.css">
	<link rel="stylesheet" href="/static/styles.css">

</head>

<body>
	<div class="container">
		<!-- <link rel="stylesheet" href="./style.css"> -->
		<div class="row mt-3">
			<div class="col-md-11 offset-md-1">
				<span class="logo__text logo"> ></span>
				<span class="logo__text logo">$ cd /cyrus</span>
				<span class="logo__cursor"></span>
				<span class="header__right">
					<nav class="menu">
						<ul class="menu__inner">
							<!-- <a href="index.html">/..</a> -->
							<a href="{{ url_for('projects') }}">/projects</a>
							<!-- <a href="{{ url_for('portfolio') }}">/portfolio</a> -->
							<!-- <a href="">/writing</a> -->
							<!-- <a href="{{ url_for('trading') }}">/trading</a> -->

						</ul>
					</nav>
				</span>
				<a href="https://www.linkedin.com/in/cyrus-buhariwalla-2012461a8/" target="_blank"
					style="text-decoration: none;" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/linkedin.svg" height="40px">
				</a>
				<a href="https://github.com/Cyrusb01" target="_blank" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/github.svg" height="40px">
				</a>
			</div>

		</div>
		<div class="row mt-3 pt-lg-5">
			<div class="col-md-11 offset-1">
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-11 offset-1">
				<p class="header">
					Welcome to My Personal Website.
				</p>
				<p>
					Hi, I'm Cyrus Buhariwalla, a Quantitative Software Engineer with a passion for building systems that
					solve real-world problems.
					After spending nearly four years at Blockforce Capital, where I developed everything from
					backtesting strategies to execution systems for algorithmic crypto trading,
					I'm now excited to start a new chapter at TRS Texas. My journey so far has revolved around
					quantitative finance, but my love for problem-solving and software engineering goes beyond any
					single industry.
					I am particularly interested in applications of software engineering that can help combat climate
					change.
				</p>
				<!-- Section: Timeline -->
				<section class="pt-5">
					<ul class="timeline">
						<li class="timeline-item mb-5">
							<h7 class="fw-bold">Studying Computer Science and Math</h7>
							<p class="text-muted mb-2 fw-bold">August 2019</p>
						</li>

						<li class="timeline-item mb-5">
							<h7 class="fw-bold">Intern at Crypto Hedge Fund</h7>
							<p class="text-muted mb-2 fw-bold">February 2021</p>
						</li>

						<li class="timeline-item mb-5">
							<h7 class="fw-bold">B.S. Computer Science, Minor Math</h7>
							<p class="text-muted mb-2 fw-bold">May 2023</p>
						</li>

						<li class="timeline-item mb-5">
							<h7 class="fw-bold">Quantitative Developer at Crypto Hedge Fund</h7>
							<p class="text-muted mb-2 fw-bold">May 2023</p>
						</li>
						<li class="timeline-item mb-5">
							<h7 class="fw-bold">Quantitative Software Engineer at Pension Fund</h7>
							<p class="text-muted mb-2 fw-bold">September 2024</p>
						</li>
					</ul>
				</section>
				<!-- Section: Timeline -->
				<section class="pb-5">
				<p class="">
					Tech Stack:
				</p>
				<a target="_blank" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/logos/python.svg" height="50px">
				</a>
				<a target="_blank" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/logos/linux-svgrepo-com.svg" height="50px">
				</a>
				<a target="_blank" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/logos/postgres.svg" height="50px">
				</a>
				<a target="_blank" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/logos/aws-svgrepo-com.svg" height="50px">
				</a>
				<a target="_blank" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/logos/react-svgrepo-com.svg" height="50px">
				</a>
				<a target="_blank" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/logos/html.svg" height="50px">
				</a>
				<a target="_blank" rel="noopener noreferrer">
					<img class="mt-1" veritcal-align="top" src="/static/logos/css.svg" height="50px">
				</a>
				</section>
				<br>




			</div>
		</div>
	</div>
</body>

</html>